body {
    background-color: ivory;
}

hr {
    border-style: dotted none none none;
    border-width: 5px;
    border-color: blueviolet;
    width: 50%;
}

h1 {
    color: brown;
}

h3 {
    color: crimson;
}

.circular {
    border-radius: 100%;
}